
<form class="row g-3 mt-3" action="/add-city" method="POST">
    <div class="col-12">
        <div class="row mb-3">
            <h3>Ajouter une ville</h3>
        </div>
        <div class="row mb-3">
            <label for="name" class="col-sm-3 col-form-label">Nom de la ville</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
        </div>

        <div class="row mb-3">
            <label for="lat" class="col-sm-3 col-form-label">Latitude</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="lat" name="lat" required>
            </div>
        </div>

        <div class="row mb-3">
            <label for="lon" class="col-sm-3 col-form-label">Longitude</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="lon" name="lon" required>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-sm-12 text-end">
                <button type="submit" class="btn btn-success">Ajouter la ville</button>
            </div>
        </div>
    </div>
</form>